:root { /*variables de colores*/
    --darkpink: #7F6172;
    --lightpink: #BC9EAF;
    --darkgrey: #111111;
    --lightgrey: #D7D7D7;
    --greypink: #5D4E57;
    --mediumgrey: #303030;
    --verylightpink: #C7BCCE;
    --dirtypink: #65535D;
}

body{
    background-color: var(--darkgrey);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.father-cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-cnt{
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.title-cnt h1{
    color: var(--lightpink);
    font-family: "Julius Sans One", sans-serif;
    font-size: 8rem;
    margin: 0%;
}
.title-cnt h3{
    color: var(--verylightpink);
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: 0%;
    letter-spacing: 0.5rem;
}

/*searching bar*/
.search-input{
    background-color: var(--mediumgrey);
    border: none;
    border-radius: 1.5rem;
    width: 30vw;
    height: 3rem;
    color: var(--lightpink);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1rem;
}
.search-input::placeholder{
    color: var(--verylightpink);
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1rem;
}

/*cards*/

.artists-cnt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.artist-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--mediumgrey);
    padding: 2rem;
    border-radius: 15px;
    width: 25rem;
    height: 10rem;
    column-gap: 2rem;
    margin: 0%;
    cursor: pointer;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
    hyphens: auto;
}
.artist-card:hover{
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    background-color: black;
}
.artist-card h3{
    padding: 0%;
    color: var(--lightgrey);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    max-width: 100%;
}

.artist-img{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin: 0%;
    padding: 0%;
}


